<div class="container-fluid">
	<div class="row">
		<div class="col-md-8 col-md-offset-2">
			<div class="panel panel-default">
				<div class="panel-heading">Listagem de projetos</div>
				<div class="panel-body">
					<table class="table table-striped table-hover">
						<thead>
							<tr>
								<th ng-click="sort('id')">
									Id
									<span class="glyphicon sort-icon" ng-show="orderBy=='id'" ng-class="{'glyphicon-chevron-up':sortedBy=='desc','glyphicon-chevron-down':sortedBy=='asc'}"></span>
								</th>
								<th ng-click="sort('name')">
									Name
									<span class="glyphicon sort-icon" ng-show="orderBy=='name'" ng-class="{'glyphicon-chevron-up':sortedBy=='desc','glyphicon-chevron-down':sortedBy=='asc'}"></span>
								</th>

								<th >
									Client
								</th>
								<th>Progress</th>
								<th>Status</th>
								<th>Due date</th>
								<th>Ação</th>
							</tr>
						</thead>
						<tbody>
							<tr dir-paginate="o in projects | filter: q | itemsPerPage: projectsPerPage" total-items="totalProjects" current-page="pagination.current">
								<td>{{o.id}}</td>
								<td>{{o.name}}</td>
								<td>{{o.client.data.name}}</td>
								<td>{{o.progress}}</td>
								<td>{{o.status}}</td>
								<td>{{o.due_date | dateBr}}</td>
								<td nowrap>
									<a ng-href="#/projects/{{o.id}}/edit">
										Editar
									</a>
									|
									<a ng-href="#/projects/{{o.id}}/remove">
										Excluir
									</a>
								</td>
							</tr>
						</tbody>
					</table>

					<dir-pagination-controls on-page-change="pageChanged(newPageNumber)"></dir-pagination-controls>
					
					

				</div><!-- panel-body -->
			</div>
		</div>
	</div>
</div>